.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(240, 241, 248);
}

.title {
  font-size: 1.8rem;
  color: var.$color-primary;
  color: black;
  font-family: "Tank Junior", sans-serif;

  @include mix.desktop {
    font-size: 3rem;
  }
}
