form {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 6vh;

  @include mix.desktop {
    width: 50vw;
  }
}

.input-container {
  &__text-input {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
    border: 2px solid black;
    width: 80%;
    font-family: "Jost", sans-serif;
    text-align: center;
    margin-right: 20px;

    &:focus {
      outline: none;
    }

    @include mix.desktop {
      width: 70%;
      height: 30px;
    }
  }

  &__btn {
    @include mix.flexCenterCol;
    background-color: var.$color-primary;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: -3px 3px black;
    transition: box-shadow 0.2s, margin 0.2s;

    &:hover {
      border: none;
      box-shadow: -0px 0px black;
      margin-left: -3px;
      margin-right: 3px;
      margin-top: 3px;
    }

    &:active {
      border: none;
      box-shadow: -0px 0px black;
      margin-left: -3px;
      margin-right: 3px;
      margin-top: 3px;
    }

    &:after {
      box-shadow: -3px 3px black;
    }
  }
}
