.todo {
  width: 78vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;

  @include mix.desktop {
    width: 45vw;
  }

  &__task-container {
    display: inline-flex;
    align-items: baseline;
    gap: 10px;
  }

  &__task {
    display: inline;
    font-family: "Tank Junior", sans-serif;
  }

  &__checkbox {
    display: inline;

    &:checked {
      accent-color: black;
    }
  }

  &__deleteBtn {
    background-color: transparent;
    border: none;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
  }
}

i {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  z-index: 3;

  &:hover {
    color: red;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0;
    padding: 0;
  }
}

.done {
  text-decoration: line-through;
  color: rgb(205, 205, 205);
}
